# Release
Release/
*.zip
*.7z
*.rar

#reference
reference/


# Build
ZMeshMendData/build/
ZMeshMendData/zmeshmend_core.exe

# Runtime temp files
ZMeshMendData/progress.txt
ZMeshMendData/NONE

# Python
__pycache__/
*.pyc
*.pyo

# IDE / AI
.trae/
.DS_Store
ZMeshMendData/ZFileUtils.lib
ZMeshMendData/ZFileUtilsInc.txt
ZMeshMendData/zmeshmend_core
ZMeshMendData/zmeshmend_export.goz
ZMeshMendData/zmeshmend_import.goz
ZMeshMendData/zmeshmend_startup.log
ZMeshMendData/build/
*.zsc
