# Release
Release/
*.zip
*.7z
*.rar

#reference
reference/


# Build
ZMeshMendData/build/
ZMeshMendData/zmeshmend_core.exe

# Runtime temp files
ZMeshMendData/progress.txt
ZMeshMendData/NONE

# Python
__pycache__/
*.pyc
*.pyo

# IDE / AI
.trae/
